= form_for @thing, html: { class: 'form-horizontal' } do |f|
  - if @thing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@thing.errors.count, "error")} prohibited this thing from being saved:"
      %ul
        - @thing.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :image, 'Bilde', class: 'col-sm-2 control-label'
    .col-sm-10= f.file_field :image, class: 'form-control'
  .form-group
    = f.label :description, 'Beskrivelse', class: 'col-sm-2 control-label'
    .col-sm-10= f.text_area :description, class: 'form-control'
  .form-group
    = f.label :owner, 'Innsender', class: 'col-sm-2 control-label'
    .col-sm-10= f.text_field :owner, class: 'form-control'
  .form-group
    = f.label :email, 'E-post', class: 'col-sm-2 control-label'
    .col-sm-10= f.email_field :email, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button 'Lagre', type: :submit, class: %w(btn btn-primary)
      = content_for :actions
