%tr{class: thing_accepted_table_class(thing)}
  %td
    = link_to(thing) do
      = image_tag thing.image.url(:tiny),
        style: "width: 48px;", class: "img-thumbnail"
  %td= link_to truncate(thing.title, length: 20), thing
  %td= mail_to thing.email, thing.owner
  %td= l thing.created_at, format: :short
  %td 0
  %td
    = link_to 'Vis', thing, class: %w(btn btn-sm btn-primary btn-fill)
    = link_to 'Slett',
      thing,
      method: :delete,
      class: %w(btn btn-sm btn-danger),
      data: { confirm: 'Er du sikker?' }
