%h1== ID #{@thing.id}

%p#notice= notice

%p
  = number_to_human_size(@thing.image_file_size)
  = @thing.image_content_type
  = link_to @thing.image_file_name, @thing.image.url

%p
  %b Beskrivelse:
  = @thing.description
%p
  %b Innsender:
  = @thing.owner
%p
  %b E-post:
  = @thing.email

.btn-group(role="group")
  = link_to 'Rediger', edit_thing_path(@thing), class: %w(btn btn-primary)
  = link_to 'Slett', @thing, method: :delete, class: %w(btn btn-danger),
    confirm: 'Er du sikker?'
  = link_to 'Tilbake', things_path, class: %w(btn btn-default)


%h2 Bilder



%h3 Stor
= image_tag @thing.image.url(:large)

%h3 Liten
= image_tag @thing.image.url(:small)

%h3 Bitteliten
= image_tag @thing.image.url(:tiny)
