= render "shared/header" do
  .wrapper
    .sidebar{data: { color: 'green', image: image_path('backgrounds/sidebar-1.jpg') }}
      .sidebar-wrapper
        .logo= link_to 'Fiksefest', '/', class: 'simple-text'
        %ul.nav
          = nav_li_active? 'Alle ting', things_path
          = nav_li_active? 'Moderasjonskø', queue_things_path, badge: Thing.in_queue.count
    .main-panel
      = render partial: 'navbar'
      .content
        .container-fluid= yield

  = render "shared/flash"
